@import "../variables.css";

.root {}

.header {
  display: inline-block;
  width: 30%;
  text-align: center;
  font-size: calc(var(--header-font-size));
  font-weight: 300;
  color: #68cef8;
}

.list {
  overflow: auto;
  max-height: calc(100vh - 130px);
  margin-top: 20px;
  width: 30%;
}

.map {
  position: absolute;
  left: 30.2%;
  top: 65px;
  width: 69.8%;
  bottom: 9px;
}

.job {
  background-color: rgba(255, 255, 255, .08);

  &:hover,
  &:active {
    background-color: rgba(255, 255, 255, .2);
  }

  &.selected {
    background-color: rgba(255, 255, 255, .2);
  }
}

.item {
  padding: 15px;
  font-size: 20px;
}

.button {
  width: 120px;
  height: 40px;
  margin-right: 5px;
  border: 0;
  color: white;
  font-size: 20px;
}

.hide {
  background-color: #658791;
}

.bold {
  display: inline;
  font-weight: 600;
  line-height: 1.2;
  color: #caf6ff;
}

.vacancy {
  display: inline;
  font-weight: 300;
  color: white;
  line-height: 1.2;
}

.location {
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  text-align: center;
  font-size: var(--header-font-size);
  color: #68cef8;
}

.print {
  background-color: #68cef8;

  &[disabled] {
    opacity: 0.7;
    color: gray;
    cursor: default;
  }
}

.form {
  padding: 0 15px 5px;
}

.name {
  display: inline;
  font-weight: 300;
  color: white;
  line-height: 1.2;
}

.address {
  display: inline;
  font-weight: 300;
  color: white;
  line-height: 1.2;
}

.tel {
  display: inline;
  font-weight: 300;
  color: white;
  line-height: 1.2;
}

.phone {
  color: #caf6ff;
  text-decoration: dotted;
}

.picture {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  left: 30.2%;
  top: 65px;
  width: 69.8%;
  bottom: 9px;

  img {
    width: 100%;
  }
}
