@import "../global.css";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.header {
  margin-top: 2vw;
  margin-bottom: 15px;
  max-width: 45%;
  white-space: pre-wrap;
  line-height: 1.1;
  text-align: center;
  font-size: var(--header-font-size);
  font-weight: 300;
  color: white;
}
.button {
  outline: 0;
  width: 23vw;
  height: 6vw;
  margin-top: 2.3vw;
  border: 0;
  font-size: 2.3vw;
  background-color: var(--blue08);
  color: white;
  transition: background-color .2s;

  &:hover {
    background-color: rgba(72, 163, 179, 1);
  }
}
