.root {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.image {
  position: fixed;
  z-index: -12;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.filter {
  position: fixed;
  z-index: -1;
  opacity: 0.1;
  left: 30px;
  top: 30px;
  right: 30px;
  bottom: 30px;
  background-color: white;
}
